<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Scoped storage permissions (only for legacy storage) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AAHAR100"
        tools:targetApi="31">

        <!-- Activities -->
        <activity android:name=".History" android:exported="false"
            tools:ignore="WrongManifestParent" /> <!-- Changed to false if not accessed externally -->


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />


        <activity
            android:name=".DonateActivity"
            android:exported="true"
            android:label="@string/title_activity_donate"
            tools:ignore="WrongManifestParent" />

        <!-- Corrected the name of the activity here -->
        <activity
            android:name=".ReceiveActivity"
            android:exported="true"
            android:label="@string/title_activity_receive" />

        <activity
            android:name=".FoodMap"
            android:exported="true"
            android:label="@string/title_activity_food_map"
            tools:ignore="Instantiatable" />

        <activity android:name=".UserProfileActivity" android:exported="true" />
        <activity android:name=".UploadProfilePicActivity" android:exported="true" />
        <activity android:name=".updateProfileActivity" android:exported="true" />
        <activity android:name=".updateEmailActivity" android:exported="true" />
        <activity android:name=".setting_activity" android:exported="true" />
        <activity android:name=".forgotPasswordActivity" android:exported="true" />
        <activity android:name=".deleteProfileActivity" android:exported="true" />
        <activity android:name=".changePasswordActivity" android:exported="true" />
        <activity android:name=".about" android:exported="true" />

        <activity
            android:name=".sign_up"
            android:exported="true" />
        <activity
            android:name=".landing_page"
            android:exported="true" />

        <!-- Splash screen activity (main launcher) -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>
</manifest>
